// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-header{
  background-color: #3b5998;
}

.navbar-brand{
  font-size: 35px;
  color: #FFFFFF;
}

.sl{
  font-size: 30px;
}

.navbar{
  background-color: #cfd2d6;
}
